.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--secondary-color);
    color: #ffbb00;
    padding: 10px 20px;
    height: 80px;
    position: fixed;
    width: 98vw;
  }
  
  .left {
    display: flex;
    flex-direction: column; /* Display the logo and company name in a column */
    align-items: flex-start;
  }
  
  .company-icon {
    width: 50px; /* Adjust the width and height as needed for your icon */
    height: 50px;
    margin-left: 55px;
    margin-bottom: 5px; /* Add margin between icon and company name */
  }

  .company-name {
    font-size: 22px;
    margin-left: 30px;
    font-weight: bold;
  }
  
  .center {
    flex: 1; /* Centered div to hold the date */
    text-align: center; /* Center the date */
  }
  
  .date {
    font-size: 14px;
    margin-right: 55px;
    font-weight: bold;
  }
  
  .right {
    display: flex;
    align-items: center;
    
  }
  
  .bell-icon {
    font-size: 22px;
    margin-right: 15px;
  }
  
  .time-date {
    font-size: 14px;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .name {
    font-size: 16px;
    font-weight: bold;
    color: aliceblue;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
      height: 120px;
      /* width: 600px; */
    }
  
    .left {
      margin-bottom: 10px;
    }
  
    .right {
      float: right;
      margin-top: 10px;
 
      /* margin-left: 300px; */
    }
    .company-icon {
        width: 30px; /* Adjust the width and height for mobile view */
        height: 30px;
        margin-bottom: 5px;
      }
      .profile {
        /* float: right; */
        display: flex;
        align-items: center;
        margin-right: 1px;
        margin-left: 40px;
      }
      
      .time-date {
        width: 100px;
        font-size: 12px;
        margin-right: 20px;
        font-weight: bold;
        padding:3px ;
      }
  }
  